@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bg: #ebf0f7;
    --header: #fbf4f6;
    --text: #2e2e2f;
    --white: #f8f8f8;
    --yellow: #f1c40f;
    --red: #e74c3c;
    --light-grey: #c4cad3;
    --tag-1: #ceecfd;
    --tag-1-text: #2e87ba;
    --tag-2: #d6ede2;
    --tag-2-text: #13854e;
    --tag-3: #ceecfd;
    --tag-3-text: #2d86ba;
    --tag-4: #f2dcf5;
    --tag-4-text: #a734ba;
    --purple: #7784ee;
}

html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
    padding: 0;
}

* {
    user-select: none;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Montserrat", sans-serif;
}

button,
fieldset,
form,
input,
legend,
textarea,
select {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

a,
a * {
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
}

hr,
img {
    border: 0;
}

applet,
iframe,
object {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
label {
    cursor: pointer;
}

input::placeholder {
    color: var(--white);
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--purple);
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

::-webkit-inner-spin-button {
    display: none;
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.button-add-task {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px dashed var(--text);
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transition: .1s ease-in-out;
    overflow: hidden;
}

.button-add-task ion-icon {
    vertical-align: middle;
    font-size: 20px;
}

.button-add-task span {
    font-size: 14px;
    display: none;
    font-weight: 500;
    margin-left: 5px;
}

.button-add-task:hover {
    width: 120px;
    background-color: var(--purple);
    color: var(--white);
    border-color: var(--purple);
}

.button-add-task:hover span {
    display: block;
}

/* FEED */
.tasks {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.tasks>div {
    width: calc(50% - 20px);
    margin: 0 10px;
}

.tasks h4 {
    font-size: 22px;
    margin: 0 0 10px 10px;

}

/* CARD */

.card {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    min-height: 120px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    position: relative;
}

.card h5 {
    font-size: 20px;
    line-height: 20px;
    margin: 6px 0;
}

.card span {
    opacity: .5;
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
}

.badge {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 20px;
}

.card-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-options button {
    margin: 0 4px;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
}

.option-edit {
    background-color: var(--yellow);
    color: var(--text);
}

.option-delete {
    background-color: var(--red);
    color: var(--white);
}

.option-edit:hover,
.option-delete:hover {
    transform: scale(1.08);
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.option-edit:active,
.option-delete:active {
    opacity: .7;
    transform: scale(0.98);
}

.card-options button ion-icon {
    font-size: 16px;
}

.date-create {
    opacity: .5;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-create ion-icon,
.date-dead ion-icon {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
}

.date-dead ion-icon {
    font-size: 20px;
}

.date-dead {
    margin-top: 6px;
    opacity: .6;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

form {
    margin-bottom: 20px;
}

form input,
form textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

form button {
    padding: 10px 15px;
}

#taskList li {
    list-style: none;
    margin-bottom: 20px;
}





/* .card:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, .2) !important;
} */

/* MODAL */

/* Estilo para o modal */
.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 455px;
    max-width: 90%;
    z-index: 1000;
    overflow:hidden
}
.modal-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.modal-header h3 {
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-body label {
    display: block;
    margin-bottom: 10px;
}

.modal-body input[type="text"],
.modal-body textarea,
.modal-body input[type="date"] {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    padding: 10px;
    text-align: right;
    background-color: #f1f1f1;
}

.modal-footer button {
    margin-left: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}
.modal-footer button[type="button"] {
    background-color: #ffffff;
    color: #5c5c5c;
    border: 2px solid #ccc;
}

.modal-footer button[type="submit"]:hover,
.modal-footer button[type="button"]:hover {
    opacity: 0.8;
}

/* NOTIFY */

#notify-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notify {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    opacity: 0;
    animation: fadein 0.5s forwards, fadeout 0.5s 4.5s forwards;
    /* Desaparece após 5 segundos */
}

.notify-success {
    background-color: #4CAF50;
}

.notify-error {
    background-color: #f44336;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}